angler==0.0.15
autograd>=1.7.0
h5py>=3.14.0
ipython==8.25.0
matplotlib>=3.10.1
meep==1.0.6
mlflow>=3.4.0
nlopt>=2.8.0
numpy>=2.3.3
opencv_python>=4.10.0.84
pyMKL==0.0.3
pypardiso==0.4.6
scipy>=1.16.2
torch>=2.8.0+cu128
torchonn_pyutils==0.0.3.1
torchonn_pyutils.egg==info
mmengine>=0.10.5
timm>=1.0.11
tensorly>=0.8.1
tensorly-torch>=0.5.0
einops>=0.8.0
mmcv-lite>=2.2.0
neuraloperator>=1.0.2
